ProyectoRecicladoBotellas/WASimuladorSiu/Connected Services/ServicioRecicladoBotellas/ServicioRecicladoBotellas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.recicladounivalle.somee.com/ServicioRecicladoBotellas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioRecicladoBotellas.Entidades" />
  <xs:import schemaLocation="http://www.recicladounivalle.somee.com/ServicioRecicladoBotellas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SelectContenedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContenedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicioRecicladoBotellas.Entidades" minOccurs="0" name="SelectContenedorResult" nillable="true" type="q1:ArrayOfContenedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContenedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hora" type="q2:duration" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContenedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertContenedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicioRecicladoBotellas.Entidades" minOccurs="0" name="SelectUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>